.App{
  margin: 0;
  padding:0;
}
.App nav{
  background: yellow;
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 10vh;
  line-height: 10vh;
  display: flex;
  justify-content:space-around;
}
.App nav a{
  text-decoration: none;
  color: #868686;
}
.App nav .active{
  color: #37D990;
}